*{
    box-sizing: unset;
}


.iconMediumTwitter{
    display:flex;
    justify-content: center;
   ;
}

.container{
    height: 100%;
}

.text-muted{
    font-size: 13px;
    

}

.connectToTwitter{
    font-size: 13px;
    height: 40px;
    width: 73%;
    display: inline-table;
}




.topic{
    background-color: rgb(235, 235, 235);
    width: fit-content;
   
    font-size: 13px;
    overflow: unset;
}


.followIcon{
    width: 14%;
    border-radius: 20rem;
    height: 10%;
    
}

.whoToFollow{
    display:flex;
     justify-content:space-evenly;
     font-size: 13px;
}


.followButton{
    height: 10%;
    width: 20%;  
}

.articleSavedIcon{
     width:7%;
    border-radius: 20rem;
    height: 10%;
}


.partialFooter{
    font-size: 70%;
    margin-top: 30%;
}



.mediumIcn{
    font-size: 200%;
}